"ASM/CPUAssembler/My Project/Resources.resx" linguist-vendored
*.xml linguist-vendored
*.vbproj linguist-vendored
*.resx linguist-vendored
*.config linguist-vendored
fontbuilder.cpp linguist-vendored
*.h linguist-language=C
parser.js linguist-vendored
Application.Designer.vb linguist-vendored
AssemblyInfo.vb linguist-vendored
Resources.Designer.vb linguist-vendored
Settings.Designer.vb linguist-vendored