NET "clk" LOC = P126;
TIMESPEC TS_CLK = PERIOD "clk" 100 MHz HIGH 50%;

NET "gpuline[15]" LOC = "P119";
NET "gpuline[14]" LOC = "P118";
NET "gpuline[13]" LOC = "P117";
NET "gpuline[12]" LOC = "P116";
NET "gpuline[11]" LOC = "P115";
NET "gpuline[10]" LOC = "P114";
NET "gpuline[9]" LOC = "P112";
NET "gpuline[8]" LOC = "P111";
NET "gpuline[7]" LOC = "P131";
NET "gpuline[6]" LOC = "P133";
NET "gpuline[5]" LOC = "P137";
NET "gpuline[4]" LOC = "P139";
NET "gpuline[3]" LOC = "P141";
NET "gpuline[2]" LOC = "P1";
NET "gpuline[1]" LOC = "P5";
NET "gpuline[0]" LOC = "P7";


#NET "KINPIN" LOC = "P119";
#NET "SD_RESET" LOC = "P118";
#NET "SD_DAT[3]" LOC = "P117";
#NET "SD_DAT[2]" LOC = "P116";
#NET "SD_DAT[1]" LOC = "P115";
#NET "SD_DAT[0]" LOC = "P114";
#NET "SD_CMD" LOC = "P113";
#NET "SD_SCK" LOC = "P112";
